.calc div.result {
  background-color: #858694;
  padding: 30px;
  text-align: right;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  height: 30px;
}

.calc {
  max-width: 600px;
  margin: 0 auto;
}

.calc-btn {
  background: rgb(224, 224, 224);
  border: 1px solid #cecece;
  color: black;
  cursor: pointer;
  padding: 30px;
  font-size: 1.5rem;
}

.calc-btns {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
}

#zero {
  grid-column: span 2;
}

.ops {
  background-color: #f5913e;
}
