.calc input {
  background-color: #858694;
  border: 0;
  width: 100%;
  margin-top: 0;
  padding: 0;
  text-align: right;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
}

.calc input::placeholder {
  color: white;
  opacity: 1;
}

.calc input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.calc {
  max-width: 600px;
  margin: 0 auto;
}

.calc-btn {
  background: rgb(224, 224, 224);
  border: 1px solid #cecece;
  color: black;
  cursor: pointer;
  padding: 30px;
  font-size: 1.5rem;
}

.calc-btns {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
}

#zero {
  grid-column: span 2;
}

.ops {
  background-color: #f5913e;
}
